<div style="width: 375px; height: 68px; position: relative">
  <div style="width: 375px; height: 68px; position: absolute"></div>
  <div
    style="width: 284px; height: 41px; left: 46px; top: 14px; position: absolute; text-align: center; color: #242424; font-size: 36px; font-family: Cormorant; font-weight: 500; word-wrap: break-word">
    Market Place</div>
</div>

<div style="width: 376px; height: 56px; position: relative">
  <div style="width: 376px; height: 56px; position: absolute; background: #333333"></div>
  <div
    style="left: 20px; top: 18px; position: absolute; color: white; font-size: 14px; font-family: Cormorant; font-weight: 700; word-wrap: break-word">
    Shop the new collection here first</div>
  <div
    style="width: 121px; height: 31px; padding: 3px 30px 10px; left: 237px; top: 11px; position: absolute; border: 0.50px white solid; display: inline-flex; justify-content: center; align-items: center; gap: 10px;">
    <div>
      <span
        style="color: white; font-size: 18px; font-family: Cormorant; font-style: italic; font-weight: 700; word-wrap: break-word">Shop</span>
      <span
        style="color: white; font-size: 18px; font-family: Cormorant; font-weight: 700; word-wrap: break-word"></span>
      <span
        style="color: white; font-size: 18px; font-family: Cormorant; font-weight: 400; word-wrap: break-word">Now</span>
    </div>
  </div>
</div>

<div
  style="width: 375px; height: 270.94px; position: relative; background-image: url(https://cdn.create.vista.com/api/media/small/206344132/stock-photo-beautiful-fashionable-woman-vintage-elegant)">
  <div
    style="width: 375px; height: 270.94px; left: 0px; top: 0px; position: absolute; background: rgba(191, 212, 228, 0)">
  </div>
</div>

<div style="width: 374px; height: 46px; background: #333333"></div>
<div style="width: 373px; height: 33px; position: relative; border: 0.50px black solid">
  <div style="width: 373px; height: 33px; left: 0px; top: 0px; position: absolute">
    <div style="width: 373px; height: 33px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div
      style="width: 66.64px; height: 11px; left: 20.89px; top: 5px; position: absolute; color: black; font-size: 13px; font-family: Open Sans; font-weight: 400; text-transform: capitalize; word-wrap: break-word">
      Pestaña1</div>
    <div
      style="width: 67.64px; height: 11px; left: 110.41px; top: 5px; position: absolute; color: black; font-size: 13px; font-family: Open Sans; font-weight: 400; text-transform: capitalize; word-wrap: break-word">
      Pestaña2</div>
    <div
      style="width: 66.64px; height: 11px; left: 205.90px; top: 5px; position: absolute; color: black; font-size: 13px; font-family: Open Sans; font-weight: 400; text-transform: capitalize; word-wrap: break-word">
      Pestaña3</div>
    <div
      style="width: 66.64px; height: 11px; left: 298.40px; top: 5px; position: absolute; color: black; font-size: 13px; font-family: Open Sans; font-weight: 400; text-transform: capitalize; word-wrap: break-word">
      Pestaña4</div>
  </div>
</div>
<div style="width: 375px; height: 74px; position: relative">
  <div style="width: 375px; height: 74px; left: 0px; top: 0px; position: absolute">
    <img style="width: 375px; height: 74px; left: 0px; top: 0px; position: absolute"
      src="https://via.placeholder.com/375x74" />
  </div>
  <div
    style="padding-left: 30px; padding-right: 30px; padding-top: 3px; padding-bottom: 3px; left: 33.50px; top: 23px; position: absolute; background: #242424; border: 0.50px white solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="color: white; font-size: 18px; font-family: Cormorant; font-weight: 700; word-wrap: break-word">What´s
      on sale</div>
  </div>
</div>
<div
  style="width: 375px; height: 61px; padding-left: 95px; padding-right: 95px; padding-top: 18px; padding-bottom: 18px; background: #242424; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
  <div
    style="color: white; font-size: 18px; font-family: Open Sans; font-weight: 400; text-decoration: underline; text-transform: capitalize; word-wrap: break-word">
    Terms and Conditions</div>
</div>

  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="">ID</th>
          <th>Categoria</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of lista_productos">
          <td>{{ element.id }}</td>
          <td>{{ element.categoria_id }}</td>
          <td>{{ element.nombre }}</td>
          <td>
            <button class="btn btn-primary" (click)="abrirModalEditar(element)">Modificar</button>
            <button class="btn btn-danger" (click)="eliminarProductos(element)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<ng-template #modalEditar let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Editar Producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="categoria">Categoría</label>
        <input type="text" class="form-control" id="categoria" [(ngModel)]="productoSeleccionado.categoria_id"
          name="categoria">
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="descripcion" [(ngModel)]="productoSeleccionado.nombre"
          name="descripcion">
      </div>
      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" id="precio" [(ngModel)]="productoSeleccionado.precio" name="precio">
      </div>
      <div class="form-group">
        <label for="descripcion">Valor</label>
        <input type="number" class="form-control" id="valor" [(ngModel)]="productoSeleccionado.valor" name="valor">
      </div>
      <div class="form-group">
        <label for="descripcion">Stock</label>
        <input type="number" class="form-control" id="stock" [(ngModel)]="productoSeleccionado.stock" name="stock">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancelar')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
  </div>
</ng-template>