<form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input [(ngModel)]="formulario_productos.nombre" name="nombre" class="form-control" type="text" required>
    </div>
  
    <div class="mb-3">
      <label for="categoria_id" class="form-label">Categoría</label>
      <input [(ngModel)]="formulario_productos.categoria_id" name="categoria_id" class="form-control" type="text" required>
    </div>
  
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea [(ngModel)]="formulario_productos.descripcion" name="descripcion" class="form-control" required></textarea>
    </div>
  
    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input [(ngModel)]="formulario_productos.precio" name="precio" class="form-control" type="number" required>
    </div>
  
    <div class="mb-3">
      <label for="valor" class="form-label">Valor</label>
      <input [(ngModel)]="formulario_productos.valor" name="valor" class="form-control" type="number" required>
    </div>
  
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input [(ngModel)]="formulario_productos.stock" name="stock" class="form-control" type="number" required>
    </div>
  
    <button class="btn btn-primary" (click)="crearProductos()">Crear Producto</button>
  </form>
  