<div class="container">
  <h1 class="text-center">Market Place</h1>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-8">
          <h4>Shop the new collection here first</h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <img class="img-fluid" src="https://cdn.create.vista.com/api/media/small/206344132/stock-photo-beautiful-fashionable-woman-vintage-elegant" alt="">
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of lista_productos">
            <td>{{ element.id }}</td>
            <td>{{ element.categoria_id }}</td>
            <td>{{ element.nombre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Pestaña 1</th>
            <th>Pestaña 2</th>
            <th>Pestaña 3</th>
            <th>Pestaña 4</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <button class="btn btn-primary">What's on sale</button>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <p>Terms and Conditions</p>
    </div>
  </div>
</div>
